<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="lawtion.dao.joinNormalDAO">

   <insert id="getResult">
      insert into join_normal values(#{id},#{password},#{name},#{phone},#{email},#{birth},sysdate)
   </insert>
   
   <update id="getUpdateResult">
      UPDATE join_normal SET password=#{password},phone=#{phone},email=#{email} WHERE id=#{id}
   </update>
   
  <select id="execTotalCount" resultType="int">
      select count(*) from join_normal
   </select>
   
   
   <select id="getResultList" resultType="lawtion.vo.joinNormalVO">
      SELECT ROWNUM AS RNO, ID, NAME, PHONE, BIRTH,EMAIL, JDATE FROM (SELECT ROWNUM AS RNO, ID, NAME, PHONE, BIRTH, JDATE ,EMAIL FROM JOIN_NORMAL ORDER BY JDATE DESC) WHERE ROWNUM BETWEEN #{param1} AND #{param2}
   </select>
   
   <delete id="getDeleteResult">
   	  DELETE FROM JOIN_NORMAL WHERE ID=#{PARAM1}
   </delete>
   
</mapper>